<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/subjects"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/']">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{author?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{author?.name}}</ion-card-title>
      <ion-card-subtitle>{{author?.birth_date}} - {{author?.death_date}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-slides *ngIf="getPhotoUrls()" mode="ios" pager="ios" scrollbar="ios">
        <ion-slide *ngFor="let photoUrl of getPhotoUrls()">
          <ion-img [src]="photoUrl"></ion-img>
        </ion-slide>
      </ion-slides>
      <div [innerHTML]="author?.bio | meta" class="description"></div>
    </ion-card-content>
  </ion-card>

</ion-content>