<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/subjects"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/']">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{subjectTitle}}</ion-title>
    <ion-title *ngIf="total >= 0" size="small">{{total}} works</ion-title>
  </ion-toolbar>
  <app-search-input (searchChange)="onSearchChange($event)"></app-search-input>
</ion-header>

<ion-content>
  <app-works (dataRequest)=fetchData($event)></app-works>
</ion-content>