<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/subjects"></ion-back-button>
    </ion-buttons>
    <ion-title>{{subject.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let work of works" [routerLink]='[work.key]' button=true detail=true lines='none'>
      <ion-label>
        <h2>{{work.title}}</h2>
        <p *ngFor="let author of work.authors">{{author.name}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="25%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>