<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/subjects"></ion-back-button>
    </ion-buttons>
    <ion-title>{{work?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{work?.title}}</ion-card-title>
      <ion-card-subtitle>
        By 
        <a *ngFor="let author of work?.authors; let isLast=last" [routerLink]="['/authors/'+author.id]">
          {{author.name}}{{isLast?'':', '}}
        </a>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngIf="getCoverUrl()">
        <ion-img [src]="getCoverUrl()" class="cover"></ion-img>
      </ion-item>
      <ion-item>
        {{work?.description}}
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>