.cover {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

h2.about {
    margin-top: 16px;
    margin-bottom: 10px;
    font-weight: 600;
}

.last-edited {
    font-size: x-small;
}
