<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/subjects"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/']">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{work?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{work?.title}}</ion-card-title>
      <ion-card-subtitle>
        By 
        <a *ngFor="let author of work?.authors; let isLast=last" [routerLink]="['/authors/'+author.id]">
          {{author.name}}{{isLast?'':', '}}
        </a>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-slides *ngIf="getCoverUrls()" mode="ios" pager="ios" scrollbar="ios">
        <ion-slide *ngFor="let photoUrl of getCoverUrls()">
          <ion-img [src]="photoUrl" class="cover"></ion-img>
        </ion-slide>
      </ion-slides>
      <h2 class="about">About the Book</h2>
      <div [innerHTML]="work?.description | meta" class="description"></div>
      <h2 class="about" *ngIf="work?.subjects.length > 0">Subjects</h2>
      <a class="subject" *ngFor="let subject of work?.subjects; let isLast=last" [routerLink]="[getSubjectUrl(subject)]">
        {{subject}}{{isLast?'':', '}}
      </a>
      <h2 class="about" *ngIf="work?.subject_people.length > 0">People</h2>
      <a class="subject" *ngFor="let person of work?.subject_people; let isLast=last" [routerLink]="['/subjects/person:'+person]">
        {{person}}{{isLast?'':', '}}
      </a>
      <h2 class="about" *ngIf="work?.subject_places.length > 0">Places</h2>
      <a class="subject" *ngFor="let place of work?.subject_places; let isLast=last" [routerLink]="['/subjects/place:'+place]">
        {{place}}{{isLast?'':', '}}
      </a>
      <h2 class="about" *ngIf="work?.subject_times.length > 0">Times</h2>
      <a class="subject" *ngFor="let time of work?.subject_times; let isLast=last" [routerLink]="['/subjects/time:'+time]">
        {{time}}{{isLast?'':', '}}
      </a>
  </ion-card-content>
  </ion-card>

</ion-content>